<button id="celDirections" (click)="alert1()"> Directions </button>


 <p></p>
 <p></p>
 <p></p>
  <input [(ngModel)]="celTemp" id="celTemp" type="number" placeholder="Celcius Temp Goes Here..." value="">


 <p></p>
 <p></p>
 <p></p>


 <button id="sub1"  (click)="cToF()" type="button"> Submit! </button>


 <p></p>
 <p></p>
 <p></p>


 <h1>{{farTemp}}</h1>


 <p></p>
 <p></p>
 <p></p>


 <button id="farDirections" (click)="alert2()"> Directions </button>


 <p></p>
 <p></p>
 <p></p>
  <input [(ngModel)]="farTemp" id="farTemp" type="number" placeholder="Fahrenheit Temp Goes Here..." value="">


 <p></p>
 <p></p>
 <p></p>


 <button id="sub2" (click)="fToC()" type="button"> Submit! </button>


 <p></p>
 <p></p>
 <p></p>


 <h1>{{celTemp}}</h1>
