
<button id="celDirections" (click)="alert()"> Directions </button>

  <p></p>
  <p></p>
  <p></p>
  
  <input id="celTemp" type="number" placeholder="Celcius Temp Goes Here..." value="">

  <p></p>
  <p></p>
  <p></p>

  <button id="sub1"  type="button"> Submit! </button>

  <p></p>
  <p></p>
  <p></p>

  <input readonly id="res1" type="number" placeholder="Results..." value="">

  <p></p>
  <p></p>
  <p></p>

  <button id="farDirections" onClick="alert('Input a temp in fahrenheit and hit submit to see it in celcius!')";> Directions </button>

  <p></p>
  <p></p>
  <p></p>
  
  <input id="farTemp" type="number" placeholder="Fahrenheit Temp Goes Here..." value="">

  <p></p>
  <p></p>
  <p></p>

  <button id="sub2" onclick="fToC()" type="button"> Submit! </button>

  <p></p>
  <p></p>
  <p></p>

  <input readonly id="res2" type="number" placeholder="Results..." value="">