<h1>Do you remember?</h1>
<p>The twenty-first
    <span style="font-family: Luminari; font-size: 40px;">night</span>
    of September
</p>
<p> <span style="color: palevioletred;">Love </span>
    <span style="text-decoration: underline;">was changing the mids of pretenders</span>
</p>
<p style="font-weight: 400;">
    Our hearts were ringin'</p>
<p style="font-weight: 500;"> In the key that our souls were singin'</p>
<p style="font-weight: 600;">As we danced in the night, remember</p>
<p style="font-weight: 800;">How the stars stole the night away, oh, yeah</p>
<p style="Brush Script MT, Brush Script Std, cursive;">Hey, hey, HEY</p>
<IMG SRC="./catwithguitar.jpg" alt = "Hey, hey, hey">

